body {
    margin: 0;
    padding: 0;
    background-color: #7A1728;
    width: 407px;
    margin: auto;
    border: #FACAC6 groove;
}

/* --------------------------------- */

header {
    background-color: #FACAC6;
    background-image: url(./logo/arco-top.png);
    background-repeat: no-repeat;
    border: #422819 double;
    border-radius: 0px 0 100px 100px;
    width: 400px;
    height: 270px;
    margin: auto;
    text-align: center;
}

h1{
    padding-top: 80px;
    margin: 0;
    font-family: 'Srisakdi', cursive;
}

h2, h3,  blockquote, a{
    font-family: 'Cookie', cursive;
    margin: 10px;
}

h3{
    font-size: 27px;
}

blockquote{
    font-size: 20px;
}

a{
    display:inline-block;
    margin: 0px 35px 10px 35px;
    text-decoration: none;
    font-size: 20px;
    color: black
}

.button{
    width: 40px;
}

/* --------------------------------- */

main{
    width: 400px;
    height: 900px;
    margin: auto;
    background-image: url(./logo/arco-bottom.png);
    background-repeat: no-repeat;
    background-position: bottom;
    text-align: center;
}

div{
    width: 400px;
    height: 900px;
    overflow-y: scroll;
}

.scroll::-webkit-scrollbar { 

    display: none; 
    
}  

section{
    margin-bottom: 20px;
}

section h1{
    padding: 30px;
    font-size: 30px;
}

section h3{
    padding-top: 20px;
    font-size: 20px;
}

li{
    list-style: none;
}

strong{
    color: #FACAC6;
}

figure{
    display: inline-block;
    margin: 0;
}

.sabores{
    display: inline-block;
    margin: 0;
    padding: 10px;
    text-align: left;
}

.final{
    margin-bottom: 80px;  
}

.alt{
    line-height: 0.1em;
    padding-bottom: 1em;
}
